.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 49px;

  @include mobile {
    position: relative;
    padding: 20px 25px;
  }
}

.contacts::after {

  @include mobile {
    content: "";
    height: 1px;
    position: absolute;
    background-color: #f8fdff;
    bottom: 0;
    left: 0;
    width: 100vw;
  }
}

.contacts__title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.contacts__list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 310px;

  @include mobile {
    margin-top: 10px;
  }
}

.contacts__item {
  list-style-type: none;
}

.contacts__item:not(:last-child) {
  margin-bottom: 5px;

  @include tablet {
    margin-bottom: 5px;
  }

  @include mobile {
    margin-bottom: 5px;
  }
}

.contacts__link {
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);

  @include mobile {
    font-size: 14px;
    line-height: 25px;
  }
}

.contacts__container {

  @include mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.contacts__plus {
  display: none;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
    border: none;
    background: none;
  }
}

.contacts__minus {
  display: none;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: block;
    border: none;
    background: none;
  }
}

